.control-buttons{
	display:flex;
	justify-content:space-between;
	margin: 0 0 10px 0;
}

.trb_mainContent .control-button {
	@include sans-serif();
	text-align:center;
	font-weight: bold;
	color:white;

	display:block;
	padding: 15px 0;
	margin: 0 0 10px 0;
	
	border:1px solid $trib-gray3;
	
	width:48%;
	opacity:.8;

	transition: all 150ms;

	cursor:pointer;	
	user-select:none;

	&:hover{
		opacity:1;
		color:white;
	}
	
	&__filter{
		background-color:$bears-blue;
	}
	&__submit{
		background-color:$bears-orange;
	}

	&.muted{
		opacity:.3;
		cursor:not-allowed;
		&:hover{
			opacity:.3;
		}
	}
}




