
// <div class='loader'>
// 	<div class="loader__color"></div>
// 	<div class="loader__shadow"></div>
// </div>

@keyframes loading{
	0%{
		height:0;
		top:100%;
	}

	100%{
		height:100%;
		top:0;
	}
}

.loader{
	width:200px;
	height:266px;
	position:relative;
	border:1px solid red;

	&__shadow, &__color{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-size:100%;
	}

	&__color{
		background: url(../img/cutler-color.png) bottom center no-repeat;
		background-size: 100%;
		animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
	}
	&__shadow{
		background: url(../img/cutler-shadow.png) bottom center no-repeat;
		background-size: 100%;
	}
}