$legend_svg_width: 118px;
.trb_mainContent .legend {
	@include clearfix();
	margin-bottom:15px;
	border:1px solid $bears-orange;
	padding:20px;


	&__content{
		margin-left: $legend_svg_width + 25px;

		p:first-child{
			margin-top:0;
		}
	}

	&__header{
		@include label5();
		margin: 0 0 10px 0;
	}

	&__circles-container{
		position:relative;
		margin: 15px auto;
	}

	.legend__circle{
		border-radius:50%;
		position:absolute;
		&--all {
			background:$all_passes_color;
			top:0;
			left:0;
		}

		&--complete {
			background:$complete_passes_color;
			top:50%;
			left:50%;
		}
	}

	.legend__label{
		@include sans-serif();
		text-align:center;
		margin:0;
		z-index: 1000;
		background: white;
	}

	.legend__line{
		width:2px;
		position:absolute;
		left:50%;
		margin: 0 0 0 -1px;
		
		&--all{
			background:$all_passes_color;
			top:0;
			height:60px;
		}

		&--complete{
			background:$complete_passes_color;
			bottom: 0;
			height: 110px;
		}
	}

	&__container{
		position:relative;
		width:$legend_svg_width;
		float:left;
	}
}

.text-label{
	font-weight:bold;
	color:white;
	display:inline-block;
	padding:0 3px;
	&--all{

		background-color: $all_passes_color;
	}
	&--complete{
		background-color: $complete_passes_color;
	}
}
@media all and (max-width: $mobile-max-width){
	.trb_mainContent .legend {
		.legend__line--all{ height:70px; }
	}
}
