// Enables for Tribune colors, but is required for everything.
@import 'base-variables';

$column_width:(100% / 9);
$column_height:90px;

$circle_dimension:1px;
$complete_passes_color:$bears_orange;
$all_passes_color:lighten($bears_orange, 45%);

$tablet-max-width:850px;
$mobile-max-width:450px;

// ---- ADD MORE VARIABLES HERE ---------------------------------------------

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';
// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@mixin text_stroke(
	$text-color:black, 
	$stroke-color:white, 
	$stroke-width:1px, 
	$stroke-opacity:1,
	$stroke-blur:0){
	  

  color:$text-color;
  text-shadow:
	#{0-$stroke-width} #{0-$stroke-width} $stroke-blur rgba($stroke-color, $stroke-opacity),  
	$stroke-width #{0-$stroke-width} $stroke-blur rgba($stroke-color, $stroke-opacity),
	#{0-$stroke-width} $stroke-width $stroke-blur rgba($stroke-color, $stroke-opacity),
	$stroke-width $stroke-width $stroke-blur rgba($stroke-color, $stroke-opacity);

	// The above is the fallback. Below is the native css3 that requires the prefix;
   // -webkit-text-fill-color: $text-color; /* Will override color (regardless of order) */
   // -webkit-text-stroke-width: $stroke-width;
   // -webkit-text-stroke-color: rgba($stroke-color, $stroke-opacity);
}

// Class imports. Uncomment the ones you want to use.
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'control-buttons';
@import 'filters';
@import 'legend';
@import 'top-charts';
@import 'header';


// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------

window, html, body{
	scroll-behavior:smooth;
}

.trb_mainContent .notes p{
	@include agate();
}


.passes{
	background-color:rgba($trib_green1, .07);

	&__viz{
		@include clearfix();
	}
}

.passes__row{
	@include clearfix();

	&:first-child{
		background-color:white;

		.passes__column .passes__inner{
			@include agate();
			text-align: center;
			// font-weight: bold;
			border-right:none;
		}
	}
}

.trb_mainContent .passes__row--labels{
	background-color:white;
	.passes__column{
	    height: auto;
	    padding: 0 0 10px 0;
	}
}

.passes__column--label{
	background-color:white;
	.passes__inner {
		border-bottom:none;
	}
}

.trb_mainContent .passes__column{
	height:$column_height;
	width:$column_width;
	float:left;
	position:relative;
	
	.passes__inner{
		width:100%;
		height:100%;
		display:flex;
		align-items:center;
		justify-content: center;
		border-right:1px solid white;
		border-bottom:1px solid white;
	}
		&--label span {
			// The Left -> Right labels
			@include agate();
			font-weight: bold;
		}
		
}

.show-mobile{
	display:none;
}

.passes__circle{
	display:flex;
	justify-content:center;
	align-items:center;
	  background-blend-mode: multiply;

	border-radius:50%;
	position:absolute;
	top:50%;
	left:50%;
	height:$circle_dimension;
	width:$circle_dimension;
	margin: #{0 - ($circle_dimension / 2)} 0 0 #{0 - ($circle_dimension / 2)};
    z-index: 1000;
	transition: all 400ms;
	&--all{
		background-color:$all_passes_color;
		opacity: .75;
	}
	&--complete{
		background-color:$complete_passes_color;	
	}

	.passes__count{
		@include agate();
		@include text_stroke(white, black, 2px, .5, 3px);
		font-weight: bold;

		&.hidden{
			display: none;
		}
	}
}

.trb_mainContent .credits p{
	@include agate();
}

@media all and (max-width: $tablet-max-width){
	.legend__circle, .passes__circle{
		transform:scale(.7);

		.passes__count{ transform:scale(1.3); }
	}
}

@media all and (max-width: $mobile-max-width){
	@import 'mobile-pass-chart';
	.legend__circle, .passes__circle{
		transform:scale(.5);
		.passes__count{
			transform:scale(1.2) rotate(90deg); 
		}
	}
}