{% macro section_header(label, data_target, open_closed) %}
	<div class='filters__label filters__label--{{ open_closed }}' data-target="{{ data_target }}">
		<h3 class='filters__label-text'>{{ label }}</h3>
		<a class='filters__return' href='#pass-bar-chart'>Back to top</a>
	</div>
		{# this opens the ensuing section. I put the opening div here to keep all the related classes/markup in sync #}
		<div class='filters__section filters__section--{{ data_target }} filters__section--{{ open_closed }}'>
{% endmacro %}

<section id='filters'>
	<h2>Filter by ...</h2>
	<div class='passes__filters filters'>

		{# #################################### #}
		{{ section_header("Pass Result", "pass-result", "open") }}
		{# <div class='filters__section filters__section--pass-result'> #}
			<div class='filters__column'>
				<a class='filter-button' href="#" data-filter-category='INT' data-filter-value=1>INT</a>
				<a class='filter-button' href="#" data-filter-category='INT' data-filter-value=0>NO INT</a>
				<a class='filter-button' href="#" data-filter-category='FIRST_DOWN' data-filter-value=1>FOR 1ST DOWN</a>
			</div>
			<div class='filters__column'>
				<a class='filter-button' href="#" data-filter-category='COMPLETION' data-filter-value=1>COMPLETE</a>
				<a class='filter-button' href="#" data-filter-category='COMPLETION' data-filter-value=0>INCOMPLETE</a>
				<a class='filter-button' href="#" data-filter-category='TD' data-filter-value=1>TD</a>
				<a class='filter-button' href="#" data-filter-category='TD' data-filter-value=0>NOT A TD</a>
			</div>
			<div class='filters__column'>
				<form id='yards-in-air' class='yards-form'>
					<label class='main-label'>Yards in the air</label>
					<div class='field-wrapper'>
						<label for="yia_min">Min: </label>
						<input type="text" name="yia_min" id="yia_min" class='min' value=-25>
					</div>
					<div class='field-wrapper'>
						<label for="yia_max">Min: </label>
						<input type="text" name="yia_max" id="yia_max"  class='max' value=100>
					</div>
				</form>

				<form id='yards-after-catch' class='yards-form'>
					<label class='main-label'>Yards after catch</label>
					<div class='field-wrapper'>
						<label for="yac_min">Min: </label>
						<input type="text" name="yac_min" id="yac_min" class='min'  value=-25>
					</div>
					<div class='field-wrapper'>
						<label for='yac_max'>Max: </label>
						<input type="text" name="yac_max" id="yac_max"  class='max' value=100>
					</div>
				</form>

			</div>
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Game situation", "game-situation", "open") }}
		{# <div class='filters__section filters__section--game-situation'> #}
			<div class='filters__column'>
				<p class='filters__column-label'>Down & Distance</p>
				<a class='filter-button' href="#" data-filter-category='DOWN' data-filter-value=1>1st down</a>	
				<a class='filter-button' href="#" data-filter-category='DOWN' data-filter-value=2>2nd down</a>	
				<a class='filter-button' href="#" data-filter-category='DOWN' data-filter-value=3>3rd down</a>	
				<a class='filter-button' href="#" data-filter-category='DOWN' data-filter-value=4>4th down</a>
				<form id='yards-to-go' class='yards-form'>
					<label class='main-label'>Yards to go</label>
					<div class='field-wrapper'>
						<label for='ytg_min'>Min:</label>
						<input type="text" name="ytg_min" id="ytg_min"  class='min' value=1>
					</div>
					<div class='field-wrapper'>
						<label for='ytg_max'>Max:</label>
						<input type="text" name="ytg_max" id="ytg_max"  class='max' value=100>
					</div>
				</form>
			</div>
			<div class='filters__column'>
				<p class='filters__column-label'>QB Formation</p>	
				<a class='filter-button' href="#" data-filter-category='QB_POSITION' data-filter-value="Shotgun">Shotgun</a>
				<a class='filter-button' href="#" data-filter-category='QB_POSITION' data-filter-value="Pistol">Pistol</a>
				<a class='filter-button' href="#" data-filter-category='QB_POSITION' data-filter-value="Under Center">Under center</a>		
			</div>
			<div class='filters__column'>
				<p class='filters__column-label'>Quarter</p>
				<a class='filter-button' href="#" data-filter-category='QTR' data-filter-value=1>1st quarter</a>
				<a class='filter-button' href="#" data-filter-category='QTR' data-filter-value=2>2nd quarter</a>
				<a class='filter-button' href="#" data-filter-category='QTR' data-filter-value=3>3rd quarter</a>
				<a class='filter-button' href="#" data-filter-category='QTR' data-filter-value=4>4th quarter</a>
				<a class='filter-button' href="#" data-filter-category='QTR' data-filter-value=5>Overtime</a>
			</div>			
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Schedule (TK: Year, season week)", "schedule", "closed") }}
		{# <div class='filters__section filters__section--schedule filters__section--closed'> #}
			<div class='filters__column'>
				<p class='filters__column-label'>Game Day</p>
				<a class='filter-button' href="#" data-filter-category='WEEKDAY' data-filter-value=5>Thursday</a>
				<a class='filter-button' href="#" data-filter-category='WEEKDAY' data-filter-value=7>Saturday</a>
				<a class='filter-button' href="#" data-filter-category='WEEKDAY' data-filter-value=1>Sunday</a>
				<a class='filter-button' href="#" data-filter-category='WEEKDAY' data-filter-value=2>Monday</a>

			</div>
			<div class='filters__column'>
				<p class='filters__column-label'>Location</p>
				<a class='filter-button' href="#" data-filter-category='HOME_GAME' data-filter-value=1>At home</a>
				<a class='filter-button' href="#" data-filter-category='HOME_GAME' data-filter-value=0>On road</a>
				<p class='filters__column-label'>Playoffs</p>
				<a class='filter-button' href="#" data-filter-category='REG_OR_POST' data-filter-value="Reg">Regular Season</a>
				<a class='filter-button' href="#" data-filter-category='REG_OR_POST' data-filter-value="Post">Postseason</a>
			</div>
			<div class='filters__column'>
				<p class='filters__column-label'>Kickoff time</p>
				<a class='filter-button' href="#" data-filter-category='TIME_BUCKET' data-filter-value="Early">Early</a>
				<a class='filter-button' href="#" data-filter-category='TIME_BUCKET' data-filter-value="Late">Late</a>
				<a class='filter-button' href="#" data-filter-category='TIME_BUCKET' data-filter-value="Primetime">Primetime</a>
			</div>
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Division", "divisions", "closed") }}
		{# <div class='filters__section filters__section--divisions filters__section--closed'> #}
			{% for conference in ["NFC", "AFC"] %}
				{% for division in ["North", "South", "East", "West"]%}
				<a class='filter-button filter-button--division' data-checked='false'  data-division="{{ conference }}-{{ division }}">
					<svg viewBox="0 0 250 250" class="nfl-logo" style='height: 55px;width: 55px;margin: 0 15px 0 -11px;'> 
						<use xlink:href="#{{ conference }}"></use>
					</svg>
					{{ conference }} {{ division }}
				</a>
				{% endfor %}
			{% endfor %}
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Team", "teams", "closed") }}
		{# <div class='filters__section filters__section--closed filters__section--teams'> #}
			{% for opponent in opponents|sort(attribute="team") %}
			<a class='filter-button' href="#" data-filter-category='OPP' data-filter-value="{{opponent.team}}" data-conference="{{ opponent.conference }}" data-division="{{ opponent.division }}">
				<svg viewBox="0 0 250 250" class="nfl-logo" style='height: 55px;width: 55px;margin: 0 15px 0 -11px;'> 
					<use xlink:href="#{{ opponent.abrv|upper }}"></use>
				</svg>
				{{ opponent.team }}
			</a> 
			{% endfor %}
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Receiver type", "receivers", "closed") }}
		{# <div class='filters__section filters__section--receivers filters__section--closed'> #}
			{% for position in positions %}
			<a class='filter-button filter-button--position' data-checked=false data-position="{{ position.abbrv }}">
				{{ position.name }}
			</a> 
			{% endfor %}
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Player", "players", "closed") }}
		{# <div class='filters__section filters__section--players filters__section--closed'> #}
			{% for receiver in receivers|sort(attribute="name_last") %}
			<a class='filter-button filter-button--player' href="#" data-filter-category='RECEIVER_ID' data-position="{{ receiver.position }}" data-filter-value="{{receiver.id}}">
				<img style='height:45px;width:45px;' src='http://{{ ROOT_URL }}/img/silhouette.png' alt="Chicago Bear {{ receiver.name_first }} {{ receiver.name_last }} ({{ receiver.position }})"/>
				{{ receiver.name_first }} {{ receiver.name_last }} ({{ receiver.position }})
			</a> 
			{% endfor %}
		</div> {# /filters__section#}
	</div>
</section>