
{% block content %}
<div style='display:none;'>
	{% include 'img/sprite.svg/defs/svg/sprite.css.svg' %}
</div>

{{ intro|markdown}}
{# {% include '_cutler-loader.html' %} #}
<div id='legend' class='legend'>
{# 	<dl>
		<dt>
			<span class='passes__circle passes__circle--all'></span>	
		</dt>
		<dd>XX pass attempts</dd>
		<dt>
			<span class='passes__circle passes__circle--complete'></span>	
		</dt>
		<dd>XX completions</dd>
	</dl>
	<div class='horiz-rule horiz-rule--complete'></div>
	<div class='horiz-rule horiz-rule--all'></div> #}
</div>
{% include '_bar-chart.html' %}
{% include '_passes-chart.html' %}
{% include '_control-buttons.html' %}
{% include '_filters.html' %}
<div class='credits'>
	{{ sources|markdown }}
	{{ credits|markdown }}
</div>

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
	(function(document) {
		window.ROOT_URL = "{{ ROOT_URL }}";
		var CSS = [
		"//{{ ROOT_URL }}/css/styles.css"
		];
		CSS.forEach(function(url) {
			var link = document.createElement('link');
			link.setAttribute('rel', 'stylesheet');
			link.setAttribute('href', url);
			document.head.appendChild(link);
		});
	})(document);
</script>
{% endblock scripts %}
