{% macro addFieldColumns(row, label) %}
	{% for column in viz_labels|sort(attribute='order') %}
		{% if loop.first %}
			<div class='passes__column passes__column--label'>
				<div class='passes__inner'>
					<p>{{ label }}</p>
				</div>
			</div>
		{% endif %}
		<div class='passes__column passes__column--{{ column.column }}'>
			<div class='passes__inner'>
				<span data-row="{{ row }}" data-column="{{ column.column }}" class='passes__circle'>
					<small class='passes__count hidden'></small>
				</span>
			</div>
		</div>
	{% endfor %}
{% endmacro %}

{% block content %}
{{ intro|markdown}}
{# {% include '_cutler-loader.html' %} #}
<div style='display:none;'>
	{% include 'img/nfl-logos.svg' %}
</div>

<div class='control-buttons'>
	<a id='filter' class='control-button control-button--filter'>SHOW FILTERS</a>
	<a id='filter' class='control-button control-button--labels'>TOGGLE LABELS</a>
	<a class='control-button control-button--submit muted'>FILTER DATA</a>
</div>

{% include '_bar-chart.html' %}
<div class='passes'>
	<div class='passes__row passes__row--labels'>
		{# TOP ROW LABELS #}
		{% for label in viz_labels|sort(attribute='order') %}
			{% if loop.first %}
				<div class="passes__column"><div class='passes__inner'></div></div>
			{% endif %}
			<div class="passes__column"><div class='passes__inner'>{{ label.label }}</div></div>
		{% endfor %}
	</div>
	{% for row in rows %}
	<div class='passes__row passes__row--{{ row.row }}'>
		{# This macro drops the column/boxes into each row #}
		{{ addFieldColumns(row.row, row.label) }}
	</div>
	{% endfor %}
</div>

{% include '_filters.html' %}

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
	(function(document) {
		window.ROOT_URL = "{{ ROOT_URL }}";
		var CSS = [
		"//{{ ROOT_URL }}/css/styles.css"
		];
		CSS.forEach(function(url) {
			var link = document.createElement('link');
			link.setAttribute('rel', 'stylesheet');
			link.setAttribute('href', url);
			document.head.appendChild(link);
		});
	})(document);
</script>
{% endblock scripts %}
