
{% block content %}
<div style='display:none;'>
	{% include 'img/sprite.svg/defs/svg/sprite.css.svg' %}
</div>
{% include 'subtemplates/_header.html' %}
{# {% include '_cutler-loader.html' %} #}
{% include 'subtemplates/_legend.html' %}
{% include 'subtemplates/_bar-chart.html' %}
{% include 'subtemplates/_passes-chart.html' %}
{% include 'subtemplates/_control-buttons.html' %}
{% include 'subtemplates/_filters.html' %}
<div class='credits'>
	{{ sources|markdown }}
	{{ credits|markdown }}
</div>

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>

{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script src="//{{ ROOT_URL }}/js/fittext.js"></script>

<script>
	(function(document) {
		window.ROOT_URL = "{{ ROOT_URL }}";
		var CSS = [
		"//{{ ROOT_URL }}/css/styles.css"
		];
		CSS.forEach(function(url) {
			var link = document.createElement('link');
			link.setAttribute('rel', 'stylesheet');
			link.setAttribute('href', url);
			document.head.appendChild(link);
		});

	  // window.fitText( document.querySelectorAll("#headline span") );

	})(document);
</script>
{% endblock scripts %}
