{% macro addFieldColumns(row, label_desk, label_mob) %}
	{% for column in viz_labels|sort(attribute='order') %}
		{% if loop.first %}
			<div class='passes__column passes__column--label'>
				<div class='passes__inner'>
					{# Left side --> Right side labels #}
					<span class='hide-mobile'>{{ label_desk }}</span>
					<span class='show-mobile'>{{ label_mob }}</span>
				</div>
			</div>
		{% endif %}
		<div class='passes__column passes__column--{{ column.column }}'>
			<div class='passes__inner'>
				<span data-row="{{ row }}" data-column="{{ column.column }}" class='passes__circle'>
					<small class='passes__count hidden'>
						{# The circle labels #}
					</small>
				</span>
			</div>
		</div>
	{% endfor %}
{% endmacro %}


<div id='pass-chart' class='passes'>
	<div class='passes__row passes__row--labels'>
		{# TOP ROW LABELS #}
		{% for label in viz_labels|sort(attribute='order') %}
			{% if loop.first %}
				<div class="passes__column">
					<div class='passes__inner'>
						{# This is a flex container to hold and center the circle #}
					</div>
				</div>
			{% endif %}
			<div class="passes__column">
				<div class='passes__inner'>
					{# Yardage labels: desktop and mobile versions #}
					<span class='hide-mobile'>{{ label.label_desk }}</span>
					<span class='show-mobile'>{{ label.label_mob }}</span>
				</div>
			</div>
		{% endfor %}
	</div>
	{% for row in rows %}
	<div class='passes__row passes__row--{{ row.row }}'>
		{# This macro drops the column/boxes into each row #}
		{{ addFieldColumns(row.row, row.label_desk, row.label_mob) }}
	</div>
	{% endfor %}
</div>