{% macro section_header(label, data_target, open_closed) %}
	<div class='filters__label filters__label--{{ open_closed }}' data-target="{{ data_target }}">
		<h3 class='filters__label-text'>{{ label }}</h3>
		<a class='filters__submit' data-button-type="submit" href='#pass-bar-chart'>{{ submit_text }}</a>
	</div>
		{# this opens the ensuing section. I put the opening div here to keep all the related classes/markup in sync #}
		<div class='filters__section filters__section--{{ data_target }} filters__section--{{ open_closed }}'>
{% endmacro %}

<section id='filters'>
	<h2>Filter by ...</h2>
	<div class='passes__filters filters'>

		{# #################################### #}
		{{ section_header("Pass Result", "pass-result", "open") }}
		{# <div class='filters__section filters__section--pass-result'> #}
			<div class='filters__column'>
				<button class='filter-button' data-filter-category='INT' data-filter-value=1>INT</button>
				<button class='filter-button' data-filter-category='INT' data-filter-value=0>NO INT</button>
				<button class='filter-button' data-filter-category='FIRST_DOWN' data-filter-value=1>FOR 1ST DOWN</button>
			</div>
			<div class='filters__column'>
				<button class='filter-button' data-filter-category='COMPLETION' data-filter-value=1>COMPLETE</button>
				<button class='filter-button' data-filter-category='COMPLETION' data-filter-value=0>INCOMPLETE</button>
				<button class='filter-button filter-button--half' data-filter-category='TD' data-filter-value=1>TD</button>
				<button class='filter-button filter-button--half' data-filter-category='TD' data-filter-value=0>NOT A TD</button>
			</div>
			<div class='filters__column'>
				<form id='yards-in-air' class='yards-form'>
					<label class='main-label'>Yards in the air</label>
					<div class='field-wrapper'>
						<label for="yia_min">Min: </label>
						<input type="text" name="yia_min" id="yia_min" class='min' value=-25>
					</div>
					<div class='field-wrapper'>
						<label for="yia_max">Min: </label>
						<input type="text" name="yia_max" id="yia_max"  class='max' value=100>
					</div>
				</form>

				<form id='yards-after-catch' class='yards-form'>
					<label class='main-label'>Yards after catch</label>
					<div class='field-wrapper'>
						<label for="yac_min">Min: </label>
						<input type="text" name="yac_min" id="yac_min" class='min'  value=-25>
					</div>
					<div class='field-wrapper'>
						<label for='yac_max'>Max: </label>
						<input type="text" name="yac_max" id="yac_max"  class='max' value=100>
					</div>
				</form>

			</div>
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Game situation", "game-situation", "open") }}
		{# <div class='filters__section filters__section--game-situation'> #}
			<div class='filters__column'>
				<p class='filters__column-label'>QB Formation</p>	
				<button class='filter-button' data-filter-category='QB_POSITION' data-filter-value="Shotgun">Shotgun</button>
				<button class='filter-button' data-filter-category='QB_POSITION' data-filter-value="Pistol">Pistol</button>
				<button class='filter-button' data-filter-category='QB_POSITION' data-filter-value="Under Center">Under center</button>		
			</div>
			<div class='filters__column'>
				<p class='filters__column-label'>Down</p>
				<button class='filter-button filter-button--half' data-filter-category='DOWN' data-filter-value=1>1st</button>	
				<button class='filter-button filter-button--half' data-filter-category='DOWN' data-filter-value=2>2nd</button>	
				<button class='filter-button filter-button--half' data-filter-category='DOWN' data-filter-value=3>3rd</button>	
				<button class='filter-button filter-button--half' data-filter-category='DOWN' data-filter-value=4>4th</button>
				<p class='filters__column-label'>Yards to go</p>
				<form id='yards-to-go' class='yards-form'>
					{# <label class='main-label'>Yards to go</label> #}
					<div class='field-wrapper'>
						<label for='ytg_min'>Min:</label>
						<input type="text" name="ytg_min" id="ytg_min"  class='min' value=1>
					</div>
					<div class='field-wrapper'>
						<label for='ytg_max'>Max:</label>
						<input type="text" name="ytg_max" id="ytg_max"  class='max' value=100>
					</div>
				</form>
			</div>

			<div class='filters__column'>
				<p class='filters__column-label'>Quarter</p>
				<button class='filter-button filter-button--half' data-filter-category='QTR' data-filter-value=1>1st</button>
				<button class='filter-button filter-button--half' data-filter-category='QTR' data-filter-value=2>2nd</button>
				<button class='filter-button filter-button--half' data-filter-category='QTR' data-filter-value=3>3rd</button>
				<button class='filter-button filter-button--half' data-filter-category='QTR' data-filter-value=4>4th</button>
				<button class='filter-button  filter-button--half' data-filter-category='QTR' data-filter-value=5>OT</button>
			</div>			
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Schedule", "schedule", "closed") }}
		{# <div class='filters__section filters__section--schedule filters__section--closed'> #}
			<div class='filters__column'>
				<p class='filters__column-label'>Game Day</p>
				<button class='filter-button filter-button--half' data-filter-category='WEEKDAY' data-filter-value=5>Thursday</button>
				<button class='filter-button filter-button--half' data-filter-category='WEEKDAY' data-filter-value=7>Saturday</button>
				<button class='filter-button filter-button--half' data-filter-category='WEEKDAY' data-filter-value=1>Sunday</button>
				<button class='filter-button filter-button--half' data-filter-category='WEEKDAY' data-filter-value=2>Monday</button>
					<p class='filters__column-label'>Regular Season Week</p>
				<select id='week' class='filters__dropdown'>
						<option value='all'>All weeks</option>
					{% for week in range (1, 18) %}
						<option value={{ week }}>{{ week }}</option>
					{% endfor %}
				</select>
				

			</div>
			<div class='filters__column'>
			<p class='filters__column-label'>Kickoff time</p>
				<button class='filter-button filter-button--half' data-filter-category='TIME_BUCKET' data-filter-value="Early">Early</button>
				<button class='filter-button filter-button--half' data-filter-category='TIME_BUCKET' data-filter-value="Late">Late</button>
				<button class='filter-button filter-button--half' data-filter-category='TIME_BUCKET' data-filter-value="Primetime">Primetime</button>
				<p class='filters__column-label'>Location</p>
				<button class='filter-button filter-button--half' data-filter-category='HOME_GAME' data-filter-value=1>Home</button>
				<button class='filter-button filter-button--half' data-filter-category='HOME_GAME' data-filter-value=0>Road</button>
			</div>
			<div class='filters__column'>
				<p class='filters__column-label'>Playoffs</p>
				<button class='filter-button' data-filter-category='REG_OR_POST' data-filter-value="Reg">Regular Season</button>
				<button class='filter-button' data-filter-category='REG_OR_POST' data-filter-value="Post">Postseason</button>
				<p class='filters__column-label'>Season</p>
				<select id='season' class='filters__dropdown'>
					<option value='all'>All years</option>
					{% for year in range (2009, 2017) %}
						<option value={{ year }}>{{ year }}</option>
					{% endfor %}
				</select>
			
			</div>
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Opponents (division)", "divisions", "closed") }}
		{# <div class='filters__section filters__section--divisions filters__section--closed'> #}
			{% for conference in ["NFC", "AFC"] %}
				{% for division in ["North", "South", "East", "West"]%}
				<button class='filter-button filter-button--division' data-checked='false'  data-division="{{ conference }}-{{ division }}">
					<svg viewBox="0 0 250 250" class="nfl-logo" style='height: 55px;width: 55px;margin: 0 15px 0 -11px;'> 
						<use xlink:href="#{{ conference }}"></use>
					</svg>
					{{ conference }} {{ division }}
				</button>
				{% endfor %}
			{% endfor %}
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Opponents (teams)", "teams", "closed") }}
		{# <div class='filters__section filters__section--closed filters__section--teams'> #}
			{% for opponent in opponents|sort(attribute="team") %}
			<button class='filter-button' data-filter-category='OPP' data-filter-value="{{opponent.team}}" data-conference="{{ opponent.conference }}" data-division="{{ opponent.division }}">
				<svg viewBox="0 0 250 250" class="nfl-logo" style='height: 55px;width: 55px;margin: 0 15px 0 -11px;'> 
					<use xlink:href="#{{ opponent.abrv|upper }}"></use>
				</svg>
				{{ opponent.team }}
			</button> 
			{% endfor %}
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Receiver type", "receivers", "closed") }}
		{# <div class='filters__section filters__section--receivers filters__section--closed'> #}
			{% for position in positions %}
			<button class='filter-button filter-button--position' data-checked=false data-position="{{ position.abbrv }}">
				{{ position.name }}
			</button> 
			{% endfor %}
		</div> {# /filters__section#}

		{# #################################### #}
		{{ section_header("Player", "players", "closed") }}
		{# <div class='filters__section filters__section--players filters__section--closed'> #}
			{% for receiver in receivers|sort(attribute="name_last") %}
				{% set mug_url = "../img/mugs/" ~ receiver.name_first|lower ~ receiver.name_last|lower ~ ".png" %}
				<button class='filter-button filter-button--player' data-filter-category='RECEIVER_ID' data-position="{{ receiver.position }}" data-filter-value="{{receiver.id}}">
					<span style="background-image:url({{ mug_url }});"></span>
					<div class='filter-button__name'>
						{{ receiver.name_first }} {{ receiver.name_last }} ({{ receiver.position }})
					</div>
				</button> 
{# 				<button class='filter-button filter-button--player' data-filter-category='RECEIVER_ID' data-position="{{ receiver.position }}" data-filter-value="{{receiver.id}}">
					<span style="background-image:url({{ mug_url }});"></span>
					{{ receiver.name_first }}<br /> {{ receiver.name_last }}<br />({{ receiver.position }})
				</button>  #}

			{% endfor %}
		</div> {# /filters__section#}
	</div>
</section>